@font-face {
    font-family: Dancing Script;
    src: url(../fonts/DancingScript-Bold.ttf);
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #171717;
    
    color: #fff;
}
section {
    margin-top: 400px;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
}
main {
    margin-top: 100px;
    margin-bottom: 150px;
}
.logo-font {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    font-weight: 700;
    color: #e6a900!important;
}
#mainNav {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav-link.active {
    border-bottom: 3px solid #ffc107;
}
.visible {
    opacity: 1;
    transform: translate(0, 0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.visible-slideDown {
    opacity: 1;
    overflow: hidden;
    transform: translate(0,0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.hidden {
    opacity: 0;
    transform: translate(0, 10vh);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.cursive-title {
    font-family: 'Dancing Script', cursive;
    color: #e6a900;
}

.hero {
    margin-top: 54px;
    background-image: url("../img/hero.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.hero-text {
    position: relative;
    height: 300px;
}
.hero-title {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px #333;
}
.menu-title-box {
    margin-bottom: 50px;
}
.menu-second-title {
    font-family: 'Dancing Script', cursive;
    color: #e6a900;
    font-size: 24px;
}
.nav-pills {
    margin-bottom: 35px;
}

.card {
    border-radius: 0;
}
.marg-down {
    margin-bottom: 150px;
}
.padd-left-small {
    padding-left: 30px;
}
.padd-right-small {
    padding-right: 30px;
}
.padd-right {
    padding-right: 100px;
}