.card {
    border-radius: 15px;
    margin-bottom: 5px;
}
.nav-pills .nav-link {
    margin-right: 5px;
    border-radius: 20px;
    background-color: #212529;
    color: #fff;
    cursor: pointer;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #ffc107;
    color: #000;
}
.row-space-top {
    margin-top: 30px;
}